
  body {
	font-family: 'Oswald', sans-serif;
    width: 100%;
}

/*Seccion Nav*/
nav a {
	font-family: 'Oswald', sans-serif;
	margin: 1%;
	padding: 0% 3%;
    text-decoration: none;
    color: blue;
    text-decoration-style: solid;
    font-size: 120%;
}

nav a:hover {
  cursor: pointer;

}

nav {
	display: flex;
	width: 100%;
	justify-content: space-around;
    background-color: #8fb2d0;
}

/*Seccion Home*/

#home img {
	width: 100%;
}

#home {
	display: flex;
	position: relative;
}
#home h1 {
	position: absolute;
	top: 40%;
	left: 40%;
	font-size: 60px;
}

/*Seccion about*/

#about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #8fb2d0;
}

#about h2 {
  text-align: center;
  padding-top: 4%;
}

#about article {
  display: flex;
  width: 90%;
  margin: 3%;
  border: 1px solid #000;
  padding: 2%;
  background: /*#365292*/#6699FF;
}

#about p {
  width: 50%;
  margin: 6%;
  font-size: 100%;
}

#about img {
  width: 85%;
  margin: 5%;
  border: 2px solid #000;
}

#about article div {
  width: 50%;
}

/*Seccion video*/

#video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #165292;
  padding: 4%;
  border: 1px solid #000;
  width: 100%;
}

.video {
  display: flex;
  justify-content: center;
}

#video h3 {
  padding: 2%;
}

iframe {
  max-width: 100%;
}
/*Seccion formulario*/

#form {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}

form {
  width:70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  width: 100%;
  margin: 2%;
}

form input {
  width: 100%;
}

form button {
  margin-left: 100%;
}

form textarea{
  width: 100%;
}

/*Seccion footer*/

footer {
  justify-content: center;
  background: #8fb2d0;
  padding: 4%;
}



