
body {
	font-family: 'Oswald', sans-serif;
    width: 100%;
}

/*Seccion Nav*/
nav a {
	font-family: 'Oswald', sans-serif;
	margin: 1%;
	padding: 0% 3%;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 60%;
    color: blue;
    text-decoration-style: solid;
}

nav a:hover {
  cursor: pointer;
}

nav {
	display: flex;
	width: 100%;
	justify-content: center;
    background-color: #8fb2d0;
    margin-bottom: 3%;
}

/*Seccion Home*/

#home img {
	width: 100%;
}

#home {
	display: flex;
	position: relative;
}
#home h1 {
	position: absolute;
	top: 40%;
	left: 40%;
	font-size: 60px;
}

/*Seccion about*/

#about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #165292;
}

#about h2 {
  text-align: center;
  padding: 3%;
}

#about article {
  display: flex;
  width: 90%;
  margin: 3%;
  border: 1px solid #000;
  padding: 2%;
  background: #365292;
}

#about p {
  width: 50%;
  margin: 6%;
}

#about img {
  width: 85%;
  margin: 5%;
  border: 2px solid #000;
}

#about article div {
  width: 50%;
}

/*Seccion video*/

#video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #365292;
  padding: 5%;
}
/*Seccion formulario*/

#form {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}

form {
  width:70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin: 2%;
}

form input {
  width: 200%;
}

form button {
  margin-left: 100%;
}

/*Seccion footer*/

footer {
  justify-content: center;
  background: #8fb2d0;
  padding: 2%;
}

